*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
    background-color: lightslategray;
}

.wrapper{
    background-color: #fff;
    max-width: 405px;
    margin: 135px auto;
    border-radius: 7px;
    padding: 28px 0;

}

.task-input{
    height: 52px;
    padding: 0 25px;
    position: relative;
}

.task-input input{
    height: 100%;
    width: 100%;
    padding: 0 20px 0 53px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #999;
    box-shadow: 5px 5px 7px black,inset 5px 5px 7px gray;
    outline: none;
}

.task-input input::placeholder{
    color: #bfbfbf;
}

.controls, li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls{
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}

.filters span{
    margin: 0 8px;
    font-size: 16px;
    cursor: pointer;
}

.filters span:first-child{
    margin-left: 0;
}

.filters span.active{
    color: #3c87ff;
}

.controls .clear-btn{
    outline: none;
    border: none;
    background-color: #3c87ff;
    color: #fff;
    padding: 7px 13px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.task-box{
    margin: 20px 25px;
}

.task-box .task{
    list-style: none;
    font-size: 15px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.task-box .task:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.task-box label{
    display: flex;
}

.task label p.checked{
    text-decoration: line-through;
}

.task label input{
    margin-top: 6px;
    margin-right: 12px;
}

.task .settings{
    cursor: pointer;
    position: relative;
}

.settings .task-menu{
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    padding: 5px 0;
    position: absolute;
    right: -5px;
    bottom: -65px;
    transform-origin: top left;
    transition: 0.2s ease;
    transform: scale(0);
    z-index: 2;
}

.settings .task-menu.show{
    transform: scale(1);
}

.task-menu li{
    height:25px;
    font-size: 13px;
    padding: 17px 15px;
    margin-bottom: 2px;
    justify-content: flex-end;
}

.task-menu li:hover{
    background: #f5f5f9;
}

.task-menu li:last-child{
    margin-bottom: 0;
}

.task-menu li i{
    padding-right: 8px;
}